# 忽略所有镜像的打包文件
*.tar

# 忽略所有file-system和image-splitting-test文件夹（东西太多了，上传费时）；但是example/test/file-system中用于测试的C、php代码文件和php解释器不可以被忽略
file-system
image-splitting-test
!/example/test/file-system
/example/test/file-system/*
!example/test/file-system/*.c
!example/test/file-system/*.php
!example/test/file-system/php
